@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 31, 32, 36;
	--background-start: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start: 31, 32, 36;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-start));
	font-size: 10px;
}

/* section.about-me::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #23242a;
	z-index: -9999;
} */
